*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pink{
    background-color: pink;
}
.yellow{
    background-color: yellow;
}
.skyblue{
    background-color: skyblue;
}
.gray{
    background-color: gray;
    text-align: center;
}